
@{
    ViewData["Title"] = "CheckInbox";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}




<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="login-box w-100" style="max-width: 400px;">
        <h2 class="text-center mb-4">Check Your Inbox</h2>
        <center>
            <a href="https://mail.google.com" class=" " style="font-size:50px">
                <i class="fa-solid fa-envelope text-white  "></i>

            </a>
        </center>
      


       
    </div>
</div>