
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@model ForgetPasswordViewModel

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="login-box w-100" style="max-width: 400px;">
        <h2 class="text-center mb-4">Forget Password</h2>
        <form asp-action="ForgetPassword">
@*             <div asp-validation-summary="All"></div>
 *@
            <div class="mb-3">
                <input class="form-control" asp-for="Email" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>
            <div>
           <center>
                    <button type="submit" class="btn login-btn w-75 fw-bold text-danger">Send</button>

           </center>
            </div>
            
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



