
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@model ResetPasswordViewModel

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="login-box w-100" style="max-width: 400px;">
        <h2 class="text-center mb-4">ResetPassword</h2>
        <form asp-action="ResetPassword">
@*             <div asp-validation-summary="All"></div>
 *@            <input asp-for="Email" class="form-control" hidden >
            <input asp-for="Token" class="form-control" hidden >

            <div class="mb-3">
                <input asp-for="New_Password" class="form-control" placeholder=" New Password">
                <span asp-validation-for="New_Password" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <input asp-for="Confirm_Password" class="form-control" placeholder="Confirm Password">
                <span asp-validation-for="Confirm_Password" class="text-danger"></span>

            </div>
            <br />
            <div class="d-grid mb-3">
            <center>
                    <button type="submit" class="btn login-btn w-75 fw-bold text-danger">Reset Password</button>
            </center>
    </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
