<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Company</title>
    <link href="~/css/accountsite.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/System_Management.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body class=" " style="background-color:	#00003F">
    <header class="" style="position:absolute;top:10px;left:10px;">
        <a asp-action="Index" asp-controller="Home" class="btn  text-white">
            <h2>
                <i class="fa-solid fa-house text-white" style="font-size:25PX"></i>
                Company</h2></a>
    </header>

    <main class=" container pb-3    " style="">
        <div class="pb-3">
            @RenderBody()
        </div>
    </main>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>